/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
  --green: #008000;
  --red: #ff0000;
}

/* Use attribute selectors for the first part of the exercise */

/*li[class] {
  color: var(--red);
}*/

li.dog {
  color: var(--violet); /* purple-pink for dog */
}

li#cat {
  color: var(--teal); /* teal for cat */
}

li.parrot {
  color: var(--green); /* green for parrot */
}

li.donkey {
  color: var(--royalblue); /* blue for donkey */
}

li.hedgehog {
  color: var(--violet); /* dark purple for hedgehog */
}

li.cat.dog.parrot {
  color: var(--royalblue); /* blue for combo */
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

/* Make the second food list item (flour) magenta */
.list-food ol li.second {
  color: var(--darkmagenta);
}

/* Make milk and coffee (after flour) dark magenta */
.list-food ol li.second + li {
  color: var(--royalblue);
}

/* Coffee = violet (the next-next li after flour) */
.list-food ol li.second + li + li {
  color: var(--darkmagenta);
}

/* Make cleaning supplies list items green again */
.list-cleaning li {
  color: var(--green);
}
